{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>this is books section</h1></div>
    <div class="card mb-4">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="product-image1.jpg" class="img-fluid rounded-start" alt="Product Image 1">
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <h5 class="card-title">Product Name 1</h5>
                    <p class="card-text">Description of Product 1. This is a brief description to give an overview of the product.</p>
                    <p class="card-text"><strong>Price: $19.99</strong></p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}