{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>this is your Cart</h1>
</div>
{% if  cart_items%}
{% for item  in cart_items %}
<div class="card mb-4 my-3 rounded ">

    <div class="row g-0">
        <div class="col-md-4">
            <img src="product-image1.jpg" class="img-fluid rounded-start" alt="Product Image 1">
        </div>
        <div class="col-md-8">

            <div class="card-body ">
                <h5 class="card-title">{{item.product.ProductName}}</h5>
                <p class="card-text">{{item.product.Description}}</p>
                <p class="card-text"><strong>{{item.product.Price}}</strong></p>
                <p class="card-text"><strong>Quantity: {{item.Quantity}}</strong></p>
                <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>Your cart is empty.</p>
{% endif %}

{% endblock body %}