{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>This is your Cart</h1>
</div>
{% if cart_items %}
{% for item in cart_items %}
<div class="card mb-4 my-3 rounded">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' ~ product_map[item.ProductID].ProductImage) }}"
                class="img-fluid rounded-start" alt="{{ product_map[item.ProductID].ProductName }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><strong>Title: </strong>{{ product_map[item.ProductID].ProductName }}</h5>
                <p class="card-text"><strong>Author: </strong>{{ product_map[item.ProductID].Author }}</p>
                <p class="card-text"><strong>Description: </strong>{{ product_map[item.ProductID].Description }}</p>
                <p class="card-text"><strong>Genre: </strong>{{ category_map[product_map[item.ProductID].CategoryID] }}</p>
                <p class="card-text"><strong>Price: Rs.{{ product_map[item.ProductID].Price }}</strong></p>
                <p class="card-text"><strong>Quantity: {{ item.Quantity }}</strong></p>
                <form action="{{ url_for('update_cart_item', item_id=item.CartItemID) }}" method="post" class="d-inline">
                    <label for="quantity">
                        <input type="number" name="quantity" value="{{ item.Quantity }}" min="1" class="form-control d-inline-block">
                        <button type="submit" class="btn btn-warning my-3">Update</button>
                    </label>
                </form>
                <form action="{{ url_for('delete_cart_item', item_id=item.CartItemID) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <!-- <a href="{{ url_for('checkout') }}" class="btn btn-primary">Buy Now</a> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}
<form action="{{ url_for('checkout') }}" method="get">
    <button type="submit" class="btn btn-success my-3">Proceed to Checkout</button>
</form>
{% else %}
<p>Your cart is empty.</p>
<a href="{{ url_for('books') }}" class="btn btn-primary">Shop Now</a>
{% endif %}
{% endblock body %}