{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Contact Us</h1>
    <p>If you have any questions, suggestions, or feedback, feel free to reach out to us. We're here to help!</p>

    <h3>Email Us</h3>
    <p>Customer Support: <a href="mailto:support@bookshop.com">support@bookshop.com</a></p>
    <p>General Inquiries: <a href=#>info@bookshop.com</a></p>

    <h3>Call Us</h3>
    <p>Customer Support: 9949970528</p>
    <p>General Inquiries: 7396365885</p>

    <h3>Visit Us</h3>
    <p>123 Bookshop St., Booktown, BK 56789</p>

    <h3>Follow Us</h3>
    <p>
        <a href="https://www.facebook.com/bookshop" target="_blank">Facebook</a><br>
        <a href="https://www.twitter.com/bookshop" target="_blank">Twitter</a><br>
        <a href="https://www.instagram.com/bookshop" target="_blank">Instagram</a>
    </p>
</div>
{% endblock body %}
