{% extends 'base.html' %}
{% block body %}
<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Dashboard</h5>
    <p><strong>Welcome,</strong> {{ user.FirstName }} {{ user.LastName }}!</p>
    <p><strong>Email:</strong> {{ user.Email }}</p>
    <p><strong>Phone:</strong> {{ user.Phone }}</p>
    <p><strong>Registration Date:</strong> {{ user.RegistrationDate.strftime('%Y-%m-%d') }}</p>
    <p><strong>User Type:</strong> {{ user.UserType }}</p>
    {% if user.UserType == 'merchant' %}
    <p>GST/PAN Number: {{ user.GSTPanNumber }}</p>
    {% endif %}
    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>

    {% if user.UserType =='merchant' %}
    <div class="container mt-5">
      <h3>Merchant Dashboard</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a Book</h5>
              <a href="/dashboard/add_book" class="btn btn-primary">Add Book</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My books</h5>
              <a href="/dashboard/my_books" class="btn btn-primary ">My Books</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Ratings</h5>
              <a href="/dashboard/my_ratings" class="btn btn-primary">My Ratings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock body %}