{% extends 'base.html' %}
{% block body %}
<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Dashboard</h5>
    <p><strong>Welcome,</strong> {{ user.FirstName }} {{ user.LastName }}!</p>
    <p><strong>Email:</strong> {{ user.Email }}</p>
    <p><strong>Phone:</strong> {% if user.Phone %}{{user.Phone}}{% else %}Not entered <a href="{{ url_for('edit_profile') }}">Add Phone number</a>{% endif %}</p>
    <p><strong>Registration Date:</strong> {{ user.RegistrationDate.strftime('%Y-%m-%d') }}</p>
    <p><strong>User Type:</strong> {{ user.UserType }}</p>
    {% if user.UserType == 'merchant' %}
    <p><strong>GST/PAN Number:</strong> {{ user.GSTPanNumber }}</p>
    {% endif %}
    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>

    {% if user.UserType =='merchant' %}
    <div class="container mt-5">
      <h3>Merchant Dashboard</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a Book</h5>
              <a href="/dashboard/add_book" class="btn btn-primary">Add Book</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My books</h5>
              <a href="/dashboard/my_books" class="btn btn-primary ">My Books</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Ratings</h5>
              <a href="/dashboard/my_ratings" class="btn btn-primary">My Ratings</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Offline services</h5>
              <a href="/dashboard/offlineservices" class="btn btn-primary">Offline services</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transaction History</h5>
              <a href="{{ url_for('transaction_history') }}" class="btn btn-primary">View History</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h5><strong>Notifications</strong></h5>
        <ul class="list-group">
          {% if low_stock_products %}
              {% for product in low_stock_products %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span>The stock of <strong>{{ product.ProductName }}</strong> is low ({{ product.StockQuantity }} units left). Please restock.</span>
                      <a href="{{ url_for('book_restock', product_id=product.ProductID) }}" class="btn btn-primary ml-auto">Restock</a>
                  </li>
              {% endfor %}
          {% else %}
              <li class="list-group-item">No new notifications.</li>
          {% endif %}
      </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock body %}