{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
  <div class="card" style="max-width: 500px; width: 100%; margin: auto;">
    <div class="card-body">
      <h5 class="card-title text-center">Forgot Password</h5>
      <h5 class="card-title text-center">Enter your EmailID</h5>
      <form action="{{ url_for('forgot_password') }}" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
