{% extends 'base.html' %}
{% block hero %}
    <style>
        .hero {
            background-image: url('static/background-2.jpg');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 20px;
            color: #343a40;
        }
        .hero h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        .hero p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    </style>
{% endblock hero %}
{% block body %}
<div class="hero">
    <div class="container">
        <h1>Welcome to Bookshop</h1>
        <p>Your one-stop shop for all your book needs.</p>
        <a href="{{ url_for('books') }}" class="btn btn-primary">Shop Now</a>
    </div>
</div>
<h5><strong>Do you want to sell products</strong> <a href="/signin1">Click here</a></h5>

<h1>Recommended Books</h1>
    <div id="recommendations">
        {% if recommended_books %}
            <ul>
                {% for book in recommended_books %}
<div class="card mb-4 my-3 rounded">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' ~ book.ProductImage) }}" class="img-fluid rounded-start" alt="{{ book.ProductName }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><strong>Title:</strong>{{ book.ProductName }}</h5>
                <p class="card-text"><strong>Author:</strong>{{ book.Author }}</p>
                <p class="card-text"><strong>Description:</strong>{{ book.Description }}</p>
                <p class="card-text"><strong>Genre: </strong>{{ category_map[book.CategoryID] }}</p>
                <p class="card-text"><strong>Price: Rs.{{ book.Price }}</strong></p>
                <div style="display: flex; flex-direction: row;">
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=book.ProductID) }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-primary my-2 mx-2">Add to Cart</button>
                    </form>
                    <form action="{{ url_for('add_to_wishlist', product_id=book.ProductID) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-primary my-2 mx-2">Add to Wishlist</button>
                    </form>
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=book.ProductID) }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-primary my-2 mx-2">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
            </ul>
        {% else %}
            <p>No recommendations available.</p>
        {% endif %}
    </div>
{% endblock body %}