{% extends 'base.html' %}
{% block body %}

    <h1 >this is login page</h1>
    <div class="container" id="login1" style="max-width: 655px; margin: auto; padding: 50px;">
      <div class="card" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h5 class="card-title text-center">Login1</h5>
            <form action="/login1" method="post">
              <div class="sm">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="sm">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
              <p>don't have account?<a href="/signin1">signin</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}