{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>My Orders</h1>
</div>
{% if orders %}
<div class="card mb-4 my-3 rounded">

    <ul class="list-group ">

        {% for order in orders %}
        <li class="list-group-item">
            <div class="container my-3">
                <h5>Order </h5>
                <p>Order Date: {{ order.OrderDate.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p>Total Amount: ${{ order.TotalAmount }}</p>
                <p>Status: {{ order.OrderStatus }}</p>
                <a href="{{ url_for('order_items', order_id=order.OrderID) }}" class="btn btn-primary">View Order
                    Items</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No orders found.</p>
<a href="{{ url_for('books') }}" class="btn btn-primary">Shop Now</a>
{% endif %}
{% endblock body %}