{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
  <div class="card" style="max-width: 500px; width: 100%; margin: auto;">
    <div class="card-body">
      <h5 class="card-title text-center">Reset Password</h5>
      <form action="{{ url_for('reset_password', user_id=user.UserID) }}" method="post">
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
