{% extends 'base.html' %}
{% block body %}
    <h1> This is signin page</h1>
    <div class="container" id="signup" style="max-width: 655px; margin: auto; padding: 50px;">
        <div class="container" id="login" style="max-width: 655px; margin: auto; padding: 50px;">
            <div class="card" style="max-width: 500px; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form action="/signin" method="post">
                        <div class="sm">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                        <div class="sm">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                        <div class="sm">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="sm">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="sm">
                            <label for="phone" class="form-label">Phone (optional)</label>
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                        <button type="submit" class="btn btn-primary my-3">Submit</button>
                        <p>Already have an account? <a href="/login">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}