{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Sign Up</h2>
            <form action="/signin" method="POST">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name = "fname" placeholder="Enter your first name"
                        aria-describedby="emailHelp">
        
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name = "lname" placeholder="Enter your last name"
                        aria-describedby="emailHelp">
        
                </div>
                <div class="mb-3">
                    <label for="phonenumber" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" id="phonenumber" name = "pno" placeholder="Enter your Mobile number"
                        aria-describedby="emailHelp">
        
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name = "emailid" placeholder="Enter your Email id"
                        aria-describedby="emailHelp">
        
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name = "passw" placeholder="Enter your Password">
                </div>
        
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>    
</div>
{% endblock body %}