{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Your Wishlist</h1>
    {% if wishlist_items %}
        {% for item in wishlist_items %}
        <div class="card mb-4 my-3 rounded">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="product-image1.jpg" class="img-fluid rounded-start" alt="Product Image 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.ProductName }}</h5>
                        <p class="card-text">{{ item.product.Description }}</p>
                        <p class="card-text"><strong>{{ item.product.Price }}</strong></p>
                        <form action="{{ url_for('remove_wishlist_item', item_id=item.WishlistItemID) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                        <form action="{{ url_for('add_to_cart', product_id=item.product.ProductID) }}" method="post" class="d-inline">
                            <input type="hidden" name="quantity" value="1">
                             <a href="/mycart"><button type="submit" class="btn btn-primary">Add to Cart</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock body %}
